*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* height: 800px; */
    flex-wrap: wrap;
    /* align-content: space-around; */
    justify-content: space-between;
    

}
img{
    width: 32%;
    border: 1px solid black;
    margin: 15px 0;
}